{% extends 'base.html' %}
{% load humanize %}
<!-- add title to the tab -->
{% block title %}  | Welcome {% endblock %}
{% block content %}

<!-- Showcase -->
<section id="showcase">
        <div class="container text-center">
          <div class="home-search p-5">
            <div class="overlay p-5">
              <h1 class="display-4 mb-4">E-Cars Searching Just Got So Easy</h1>
              <p class="lead">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Recusandae quas, asperiores eveniet vel nostrum magnam voluptatum
                tempore! Consectetur, id commodi!
              </p>
              <div class="search">
                <form action="{% url 'search' %}">
                  <!-- Form Row 1 -->
                  <div class="form-row">
                    <div class="col-md-3 mb-3">
                      <label class="sr-only" for="keywords">Keywords</label>
                      <input
                        type="text"
                        name="keywords"
                        class="form-control"
                        id="keywords"
                        placeholder="Keyword (Origin, Doors, Seats, Milage, Range etc)"
                      />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="sr-only" for="brand_model">Brand                Model</label>
                      <select name="brand_model" class="form-control" id="brand_model">
                        {% for key, value in brand_model_choices.items %}
                        <option value="{{value}}">{{key}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="sr-only" for="color">Colour</label>
                      <select name="color" class="form-control" id="color">
                        {% for key, value in color_choices.items %}
                        <option value="{{value}}">{{key}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!-- Form Row 2 -->
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label class="sr-only" for="hand_drive">Hand Drive</label>
                      <select name="hand_drive" class="form-control" id="hand_drive">
                        {% for key, value in hand_drive_choices.items %}
                        <option value="{{value}}">{{key}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="sr-only" for="wheels_drive">Wheels Drive</label>
                      <select name="wheels_drive" class="form-control" id="wheels_drive">
                        {% for key, value in wheels_drive_choices.items %}
                        <option value="{{value}}">{{key}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="sr-only" for="budget">Budget</label>
                      <select name="budget" class="form-control" id="budget">
                        {% for key, value in budget_choices.items %}
                        <option value="{{value}}">{{key}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-info btn-block mt-4" type="submit">
                    Submit form
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
</section>

<!-- Listings -->
{% include 'partials/_alert.html' %}
<section id="listings" class="py-5">
      <div class="container">
        <h3 class="text-center mb-3"><span class="text-primary">{{default_newly_listing_no}}</span> Latest E-Cars Listings</h3>
          <!-- Listing 1 to the d -->
          {% if listings %}
          <!-- for loop to gen items -->
          <div class="row">
          {% for listing in listings %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img
                class="card-img-top"
                src={{listing.photo_main.url}}
                alt=""
              />
              <div class="card-img-overlay">
                <h5>
                  <span class="badge badge-info text-white">
                    HK$ {{listing.price | intcomma }}
                  </span>
                </h5>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{listing.brand}}</h4>
                  <h5 class="text-primary">{{listing.model}}</h5>
                </div>
                <hr />
                <div class="row py-2 text-primary">
                  <div class="col-6">
                    Origin: {{listing.origin}}
                  </div>
                  <div class="col-6">
                    Color: {{listing.color}}
                  </div>
                </div>
                <div class="row py-2 text-primary">
                  <div class="col-6">
                    Doors: {{listing.doors}}
                  </div>
                  <div class="col-6">
                    Seats: {{listing.seats}}
                  </div>
                </div>
                <div class="row py-2 text-primary">
                  <div class="col-6">
                    Hand Drive: {{listing.doors}}
                  </div>
                  <div class="col-6">
                    Wheels Drive: {{listing.seats}}
                  </div>
                </div>
                <div class="row py-2 text-primary">
                  <div class="col-6">
                    Milage: {{listing.milage}}
                  </div>
                  <div class="col-6">
                    Range: {{listing.range}}
                  </div>
                </div>
                <hr />
                <div class="row text-primary pb-2">
                  <div class="col-12" align="center">
                    <i class="fas fa-user"></i>E-Car Broker: {{listing.broker}}
                  </div>
                  <div class="col-12" align="center">
                    <i class="fas fa-phone"></i>{{listing.broker.phone}}
                  </div>
                  <div class="col-12" align="center">
                    <i class="fas fa-envelope-open"></i>{{listing.broker.email}}
                  </div>
                </div>
                <hr />
                <a href={% url "listing" listing.id %} class="btn btn-info btn-block">
                  More Info
                </a>
                <div class="row py-2 text-secondary">
                  <div class="col-12" align="right">
                    <i class="fas fa-clock"></i>Listed Since: {{listing.list_date | timesince }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- end of loop block -->
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>{{default_newly_listing_no}} Latest E-Cars as shown</p>
            </div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-md-12">
              <p>No Listing Available</p>
            </div>
          </div>
          {% endif %}
      </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <hr />
            <h2>Insurance & Consult</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
              debitis nam! Repudiandae, provident iste consequatur hic
              dignissimos ratione ea quae.
            </p>
          </div>
          <div class="col-md-4">
            <hr />
            <h2>Maintenance & Repair</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
              debitis nam! Repudiandae, provident iste consequatur hic
              dignissimos ratione ea quae.
            </p>
          </div>
          <div class="col-md-4">
            <hr />
            <h2>Renting & Selling</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
              debitis nam! Repudiandae, provident iste consequatur hic
              dignissimos ratione ea quae.
            </p>
          </div>
        </div>
      </div>
</section>

{% endblock %}
