{% extends 'base.html' %}
{% load humanize %}
<!-- tab title -->
{% block title %}  | Search {% endblock %}
{% block content %}

<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label class="sr-only" for="keywords">Keywords</label>
                <input
                  type="text"
                  name="keywords"
                  class="form-control"
                  value="{{values.keywords}}"
                  id="keywords"                  
                  placeholder="Keyword (Origin, Doors, Seats, Milage, Range etc)"
                  />
              </div>
              <div class="col-md-6 mb-3">
                <label class="sr-only" for="brand_model">Brand                Model</label>
                <select name="brand_model" class="form-control" id="brand_model">
                  {% for key, value in brand_model_choices.items %}
                  <option value="{{value}}"
                  {% if value == values.brand_model %}
                    selected
                  {% endif %}>
                    {{key}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <label class="sr-only" for="color">Colour</label>
                <select name="color" class="form-control" id="color">
                  {% for key, value in color_choices.items %}
                  <option value="{{value}}"
                  {% if value == values.color %}
                    selected
                  {% endif %}>
                    {{key}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label class="sr-only" for="hand_drive">Hand Drive</label>
                <select name="hand_drive" class="form-control" id="hand_drive">
                  {% for key, value in hand_drive_choices.items %}
                  <option value="{{value}}"
                  {% if value == values.hand_drive %}
                    selected
                  {% endif %}>
                    {{key}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <label class="sr-only" for="wheels_drive">Wheels Drive</label>
                <select name="wheels_drive" class="form-control" id="wheels_drive">
                  {% for key, value in wheels_drive_choices.items %}
                  <option value="{{value}}"
                  {% if value == values.wheels_drive %}
                    selected
                  {% endif %}>
                    {{key}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label class="sr-only" for="budget">Budget</label>
                <select name="budget" class="form-control" id="budget">
                  {% for key, value in budget_choices.items %}
                  <option value="{{value}}"
                  {% if value == values.budget %}
                    selected
                  {% endif %}>
                    {{key}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-info btn-block mt-4" type="submit">
              Submit form
            </button>
          </form>
        </div>
      </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href={% url "index" %}><i class="fas fa-home"></i>Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href={% url "listings" %}>Browse Listings</a>
          </li>
          <li class="breadcrumb-item active">Search Results: <span class="text-secondary">{{total}}</span> E-Car(s) Found</li>
        </ol>
      </nav>
    </div>
</section>

<!-- Searched Listings -->
<section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        <!-- Listing 1 to searched all -->
        {% if listings %}
        {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img
              class="card-img-top"
              src={{listing.photo_main.url}}
              alt=""
            />
            <div class="card-img-overlay">
              <h5>
                <span class="badge badge-secondary text-white">HK$ {{listing.price | intcomma }}</span>
              </h5>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{listing.brand}}</h4>
                <h5 class="text-primary">{{listing.model}}</h5>
              </div>
              <hr />
              <div class="row py-2 text-primary">
                <div class="col-6">
                  Origin: {{listing.origin}}
                </div>
                <div class="col-6">
                  Color: {{listing.color}}
                </div>
              </div>
              <div class="row py-2 text-primary">
                <div class="col-6">
                  Doors: {{listing.doors}}
                </div>
                <div class="col-6">
                  Seats: {{listing.seats}}
                </div>
              </div>
              <div class="row py-2 text-primary">
                <div class="col-6">
                  Hand Drive: {{listing.hand_drive}}
                </div>
                <div class="col-6">
                  Wheels Drive: {{listing.wheels_drive}}
                </div>
              </div>
              <div class="row py-2 text-primary">
                <div class="col-6">
                  Milage: {{listing.milage}}
                </div>
                <div class="col-6">
                  Range: {{listing.range}}
                </div>
              </div>
              <hr />
              <div class="row text-primary pb-2">
                <div class="col-12" align="center">
                  <i class="fas fa-user"></i>E-Car Broker: {{listing.broker}}
                </div>
                <div class="col-12" align="center">
                  <i class="fas fa-phone"></i>{{listing.broker.phone}}
                </div>
                <div class="col-12" align="center">
                  <i class="fas fa-envelope-open"></i>{{listing.broker.email}}
                </div>
              </div>
              <hr />
              <a href={% url "listing" listing.id %} class="btn btn-info btn-block">
                More Info
              </a>
              <div class="row py-2 text-secondary">
                <div class="col-12" align="right">
                  <i class="fas fa-clock"></i>Listed Since: {{listing.list_date | timesince }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
          <p>No Listing Sought</p>
        </div>
        {% endif %}
      </div>
      <p style="font-size: 40px;">Total searched results: {{total}} E-Car(s)</p>
    </div>
</section>

{% endblock %}
